:root { --purple: #7429C6; --light-pink: #C951E7; --dark-pink: #672171; --dark-grey: #4A5567; --light-grey: #97A3B6; --black: #030616; --white: #F2F5F9; --font: "Outfit", sans-serif;}

html { font-size: 62.5%; font-family: var(--font);}

body { font-size: 2rem;}

.game-wrapper { padding: 25px; background-color: #151e2e; border-radius: 12px; width: 415px;}

.logo { margin-inline: auto;}

.guessed-word { color: var(--light-grey); font-size: 3rem; text-align: center; background-color: var(--dark-grey); padding: 20px; border-radius: 8px; letter-spacing: 16px; box-shadow: 0 6px 0 0 var(--black); margin-top: 30px;}

.word { display: flex; gap: 10px; margin-top: 50px; margin-bottom: 50px; justify-content: center;}

.word .letter { width: 40px; height: 40px; border: 2px solid var(--light-grey); display: flex; align-items: center; justify-content: center; line-height: 1; border-radius: 6px; color: white; font-weight: 500;}

.main { display: flex; align-items: center; justify-content: center; min-height: 100vh; background-image: url(../images/bg-guess-the-word.png); background-position: center; background-repeat: no-repeat; background-size: cover;}

span.letter.active { border-color: var(--purple);}

.tries-and-mistakes-wrapper { display: flex; align-items: center; margin: 30px auto 0; justify-content: space-between; font-size: 1.4rem; color: var(--dark-grey); max-width: 280px;}

.width-content-wrapper { margin-inline: auto;}

.tries { display: flex; align-items: center; gap: 4px;}

.bullets { display: flex; align-items: center; gap: 6px;}

.bullet-item { width: 6px; height: 6px; display: block; border-radius: 50%; background-color: var(--dark-grey);}

.bullet-item.bullet-active { background-color: var(--purple);}

.buttons-wrapper { max-width: 270px; display: flex; align-items: center; justify-content: space-between; margin-inline: auto;}

.button-primary { min-width: 105px; background-color: var(--light-pink); color: var(--white); padding: 11.3px 0; font-size: 1.4rem; border-radius: 8px; box-shadow: 0px 4px 0 0px var(--dark-pink); cursor: pointer; transition: 0.4s;}

.button-primary:hover { opacity: 0.8;}

.winner-message {display: none; /* Initially hidden */position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%) !important;background-color: white;border: 2px solid var(--purple);border-radius: 10px;padding: 20px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);text-align: center;z-index: 1000;}

.winner-message h1 {color: var(--purple);font-size: 2em;margin: 0 0 20px 0;}

.winner-message button {background-color: var(--purple);color: white;border: none;padding: 10px 20px;border-radius: 5px;cursor: pointer;font-size: 1em;}

.winner-message button:hover {opacity: 0.8;}

.winner-active {display: block;}

@media (max-width: 767px) {
  .game-wrapper {width: 90%;}
}